<!doctype html>
<html>

<head>
    <title>21 Savage Fan Site</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="container">

        <section class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Home Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/home" class="btn btn-default btn-sm">Home</a>
            <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        </section>
    </section>

    <section class="container text-center plantMain">

        <!-- LOCAL INFORMATION -->
        <section class="row">
            <h2>Your Plants</h2>
                    <% for(let i=0; i<myPlants.length; i++) {%>
                        <section class="col-sm-6 plantBoxes" id="<%=myPlants[i]._id%>">
                            <section>
                                <h3>
                                    <%= myPlants[i].plantName %>
                                </h3>
                                <span>
                                Created: <%= myPlants[i].date %>
                                </span>
                                <img class="plantpic"  src="img/plant-icon.gif" alt="generic plant image">

                               <p> <%= myPlants[i].plantCare[0] == null ? 'Update plant status' : `Current plant status: ${myPlants[i].plantCare[0].status}` %> </p>

                               <p> <%= myPlants[i].plantCare[0] == null ? '' : `Last Watered on: ${myPlants[i].plantCare[0].careDate}` %> </p>
                               
                               <p> <%= myPlants[i].plantCare[0] == null ? 'Update next water reminder' : `Next watering is: ${ myPlants[i].plantCare[0].waterReminderDate}` %> </p>

                               
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                            </section>

                                <h3>Update Plant</h3>
                            <section class="updateForm hideForm">
                                <form action="/careUpdate" method="POST">
                                    <input type="hidden" name="plantID" value="<%=myPlants[i]._id%>">
                                    <fieldset>
                                        <label>
                                            Watered date: <input class="text-left"  type="date" name="careDate">
                                        </label>
                                    </fieldset>
                                    <fieldset>
                                    <label>
                                       Plant Status
                                        <label>
                                            <input type="radio" name="status" value="good" required>good
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="fair" required>fair
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="bad" required>bad
                                        </label>
                                        </label>
                                    </fieldset>                                    <!-- <fieldset>
                                        <legend class="text-left">Notes/Comments:</legend> 
                                        <textarea name="comments" cols="30" rows="10"
                                            placeholder="Enter your notes here"></textarea>
                                    </fieldset> -->
                                    <fieldset>
                                        <label>
                                            Set reminder for next watering: <input type="date" name="waterReminderDate">
                                        </label>
                                    </fieldset>
                                <button type="submit">Submit</button>
                                </form>
                            </section>
                        </section>
                        <% } %>

                        <section class="col-sm-6 plantBoxes">
                            <h2>Add a Plant</h2>
                            <img src="img/plus-icon.png" alt="">
                            <% if (user.local.email) { %>
                                
                                <form action="/addPlant" method="POST">
                                    <input type="hidden" value="<%= user.local.email %>" name="name">
                                    <fieldset>
                                        <legend>Enter new plant:</legend>
                                        <input type="text" name="plantName" placeholder="enter plant name">
                                    </fieldset>
                                    <fieldset>
                                        <legend>Creation Date:</legend>
                                        <input type="date" placeholder="Enter date" name="date">
                                    </fieldset>
                                    <button type="submit">Submit</button>
                                </form>
                                <% } %>
                        </section>
                
        </section>
        
    </section>
    
    <script src="main.js"></script>

</body>

</html>